body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: -20px 0 50px;
    overflow: hidden;
    /* background: url(img/Japon.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    background-color: white;
}

::selection {
    background: #565eb3;
}
.buttoncreate {
    margin-right: 40%;
    margin-left: 50%;
}

